.top {
    background-color: #ffc107;
    padding: 10px;
    h1 {
        color: #007bff;
    }
}

.card-header {
    background-color: #20c997;
    border-color: #20c997;
    color: white;
}

.card {
    border-color: #20c997;
}