.top {
    background-color: #ffc107;
    padding: 10px;
    .bin {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h1 {
            color: #007bff;
        }
        .sort {
            margin: 0 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h5 {
                color: brown;
                margin: 0 5px;
            }
        }
    }
}

.card-header {
    background-color: #20c997;
    border-color: #20c997;
    color: white;
}

.card {
    border-color: #20c997;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    .modal-body {
        min-width: 400px;
    }
}

.list {
    .bin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            strong {
                width: 150px;
            }
            small {
                margin: 0 10px;
            }
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 10px;
                background-color: #007bff;
            }
        }
        .buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}